:host {
    display: flex;
    align-items: center;
    justify-content: center;
}

form {
    display: flex;
    flex-direction: column;
    width: 400px;
    padding: 16px;
    border: 1px solid grey;
    border-radius: 15px;
}

